<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TwiwT</title>
</head>
<body>

<?  if ( App::logged() ) { ?>
    <a href='<?=App::url('user/home')?>'>Home</a>
    <a href='<?=App::url('user/users')?>'>Usuários</a>
<?  }?>

<a href='<?=App::url('user/register')?>'>Cadastre-se</a>
<?  if ( !App::logged() ) { ?>
    <a href='<?=App::url('user/login')?>'>Autentique-se</a>
<?  } else { ?>
    <a href='<?=App::url('user/logout')?>'>Sair</a>
<?  } ?>
<div style='border-bottom:1px solid black'></div>